.title1 {
    color: var(--main-brown);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.title2 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--light-gray);
    margin-bottom: .4rem;

    @media (max-width: 700px) {
        font-size: 2.3rem;
    }
}

.title-line {
    width: 8rem;
    margin-bottom: 2rem;

    @media (max-width: 700px) {
        width: 6rem;
    }
}