.box {
    max-width: 22rem;
    background-color: var(--light-gray);

    .box-image img{
        max-width: 22rem;
    }

    .box-text {
        color: var(--light-black);
        padding: .7rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h4 {
            text-transform: capitalize;
            letter-spacing: 1px;
            font-size: 1.2rem;
            line-height: 1rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.3rem;
        }

        .links {
            display: flex;
            justify-content: space-between;
            gap: .5rem;
            flex-wrap: wrap;
            
            span {
                a {
                text-decoration: none;
                color: var(--light-black);
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                background-color: var(--dark-gray);
                padding: .2rem 1rem;
                border-radius: 3px;

                .icon {
                    font-size: 1.2rem;
                }
                }
            }

        }

    }
}

@media screen and (max-width: 410px) {
    .box {
        max-width: 20rem;
    
        .box-image img{
            max-width: 20rem;
        }
    }
}

@media screen and (max-width: 370px) {
    .box {
        max-width: 18rem;
    
        .box-image img{
            max-width: 18rem;
        }
    }
}

@media screen and (max-width: 320px) {
    .box {
        max-width: 16rem;
    
        .box-image img{
            max-width: 16rem;
        }
    }
}

@media screen and (max-width: 290px) {
    .box {
        max-width: 14rem;
    
        .box-image img{
            max-width: 14rem;
        }
    }
}