
.banner {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;

    .top {
        margin: 0;
    }

    .center {
        margin-left: 10%;
    }

    .bottom {
        margin-left: 20%;
    }

    .banner-row {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      @media (max-width: 1440px) {
        &:first-child {
          margin-top: 0px;
        }
      }
      .row-title,
      .row-letter {
        font-family: var(--font-big);
        font-size: 9rem;
        line-height: 9rem;
        font-weight: 500;
        position: relative;
        letter-spacing: -.4rem;
        display: inline-block;
        white-space: nowrap;
        @media (max-width: 480px) {
          font-size: 7rem;
        }
      }
      .row-col {
        display: flex;
        align-content: center;
        justify-content: center;

        @media (max-width: 480px) {
          width: 100%;
          justify-content: flex-start;
        }
        .row-message {
          font-weight: 500;
          font-size: .9rem;
          line-height: 1rem;
          width: 320px;
          color: #ddd;
        }
      }
      
    }
  }
  
 
.social-links {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;

    .link {
        font-size: 2.5rem;
        color: #987750;
        cursor: pointer;
        animation-iteration-count: infinite;
        animation-name: change-color;
        animation-duration: 4s;
    }
}

@keyframes change-color {
    0% {color: #F8B195}
    10% {color: #F67280;}
    20% {color: #C06C84;}
    30% {color: #6C5B7B;}
    40% {color: #355C7D;}
    50% {color: #355C7D;}
    60% {color: #6C5B7B;}
    70% {color: #C06C84;}
    85% {color: #F67280;}
    100% {color: #F8B195}
}

@media screen and (max-width: 1230px) {
    
}